<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/posts" style="float:right;">
    <b>НА ГЛАВНУЮ &amp;cudarrr;</b>
</a>

<form method="POST" th:if="${post == null}" th:action="@{/posts}" enctype="multipart/form-data">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image"/>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" name="tags"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" name="text"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" type="submit">Сохранить</button>
            </td>
        </tr>
    </table>
</form>

<form method="POST" th:if="${post != null}" th:action="@{/posts/{id}(id=${post.id})}" enctype="multipart/form-data">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title" th:text="${post.title}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image"/>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" name="tags" th:text="${post.tagsAsText}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" name="text" th:text="${post.text}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" type="submit">Редактировать</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>